version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: database
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "90:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - note-network
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      POSTGRES_URL: jdbc:postgresql://database/mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    depends_on:
      - postgres
    networks:
      - note-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8080/api
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - note-network
    restart: unless-stopped

volumes:
  postgres-data:

networks:
  note-network:
